<!DOCTYPE html>
<html>
<head>
  <title>Hello Vue.js</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="/tailwind.css">
  <link rel="stylesheet" href="/base.css">
</head>
<body>
  <div class="page">

    <h1>Hello Vue.js</h1>

    <div id="app" class="rounded-section">
      <p>FullName: {{ fullName }}</p>
      <p><input v-model="firstName" class="input"/></p>
      <p><input v-model="lastName" class="input"/></p>
    </div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            firstName: 'Foo',
            lastName: 'Bar'
          }
        },
        computed: {
          fullName() {
            return this.firstName + ' ' + this.lastName
          }
        }
      })
      app.mount('#app')
    </script>

  </div>
</body>
</html>
