<!DOCTYPE html>
<html>
<head>
  <title>Hello Vue.js</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="/tailwind.css">
  <link rel="stylesheet" href="/base.css">
</head>
<body>
  <div class="page">

    <h1 class="page-title">Hello Vue.js</h1>

    <script>
      const { defineComponent, createApp } = Vue;
    </script>



    <div id="vModelEx" class="rounded-section">
      <p>{{ message }}</p>
      <input v-model="message" class="input"/>
    </div>
    <script>
      createApp({
        data() {
          return {
            message: 'Linked with input form'
          };
        }
      }).mount('#vModelEx');
    </script>

    <div id="conditionalEx" class="rounded-section">
      <div v-if="seen">Now you see me</div>
      <button v-on:click="toggle" class="btn">Toggle</button>
    </div>
    <script>
      createApp({
        data() {
          return {
            seen: true
          }
        },
        methods: {
          toggle() {
            this.seen = !this.seen;
          }
        }
      }).mount('#conditionalEx');
    </script>

    <div id="forEx" class="rounded-section">
      <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
      </ol>
    </div>
    <script>
      createApp({
        data() {
          return {
            todos: [
              { text: 'Learn JavaScript'},
              { text: 'Learn Vue' },
              { text: 'Build Something' }
            ]
          }
        }
      }).mount('#forEx');
    </script>

    <div id="moreEx" class="rounded-section">
    </div>

  </div>
</body>
</html>
