<!DOCTYPE html>
<html>
<head>
  <title>Hello Vue.js Simple</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="../index.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <section class="m-8">
    <h1 class="font-serif text-4xl mb-4">Hello Vue.js</h1>
    <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac varius augue, sit amet mattis ante. Nulla
      malesuada, sem nec dignissim lacinia, felis sem rhoncus magna, in tincidunt risus augue vitae orci. Nunc
      pellentesque dui ac lorem facilisis dapibus.</p>
  </section>
  <section class="m-8">
    <div id="simpleEx" class="border rounded p-4">
      <ul>
        <li>Message: {{ message }}</li>
        <li>Counter: {{ counter }}</li>
        <li>SpanTitle: <span v-bind:title="spanTitle">hover me</span></li>
      </ul>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            message: "Hello from App Object",
            counter: 0,
            spanTitle: "I'm Span"
          }
        },
        mounted() {
          setInterval(() => {
            this.counter++;
          }, 1000)
        }
      }).mount("#simpleEx");
    </script>
  </section>
  <section class="m-8">
    <div id="onClickEx" class="border rounded p-4">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage" class="btn">Reverse</button>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            message: 'abcd 1234'
          }
        },
        methods: {
          reverseMessage() {
            this.message = this.message.split('').reverse().join('');
          }
        }
      }).mount('#onClickEx');
    </script>
  </section>
  <section class="m-8">
    <div id="vModelEx" class="border rounded p-4">
      <p>{{ message }}</p>
      <input v-model="message" class="input"/>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            message: 'Linked with input form'
          };
        }
      }).mount('#vModelEx');
    </script>
  </section>
  <section class="m-8">
    <div id="conditionalEx" class="border rounded p-4">
      <div v-if="seen">Now you see me</div>
      <button v-on:click="toggle" class="btn">Toggle</button>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            seen: true
          }
        },
        methods: {
          toggle() {
            this.seen = !this.seen;
          }
        }
      }).mount('#conditionalEx');
    </script>
  </section>
  <section class="m-8">
    <div id="forEx" class="border rounded p-4">
      <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
      </ol>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            todos: [
              { text: 'Learn JavaScript'},
              { text: 'Learn Vue' },
              { text: 'Build Something' }
            ]
          }
        }
      }).mount('#forEx');
    </script>
  </section>
  <section class="m-8">
    <div id="moreEx" class="border rounded p-4">
    </div>
  </section>
</body>
</html>
